{% extends "layout.html" %}

{% block body %}
<div class="row" style="margin-top: 50px">
  <div class="col-3">
    <div class="list-group list-group-flush">
      <a
        href="{% url 'users:profile' %}"
        class="list-group-item list-group-item-action"
        >Kullanici Bilgilerim</a
      >
      <a
        href="{% url 'users:adress' %}"
        class="list-group-item list-group-item-action"
        >Adreslerim</a
      >
      <a
        href="{% url 'users:orders' %}"
        class="list-group-item list-group-item-action"
        >Siparislerim</a
      >
      <a
        href="{% url 'users:reviews' %}"
        class="list-group-item list-group-item-action"
        >Degerlendirmelerim</a
      >
    </div>
  </div>
    {% block myaccountbody %}
   
    {% endblock myaccountbody %}
</div>

{% endblock body %}